head
  title Etherisk

body
  +status

template(name='status')
  form
    input(type="text", value=contractAddress, width="50")
    button update
  p Using account {{acct}}
  +if acct
    p Great!
  else
    p Please choose an account
